{% extends 'app/base.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'app/css/tarjetas.css' %}">
{% endblock %}
{% block contenido %}
<body class="fondo">
    <section class="bg-shadow">
    </section>
    <div class="card-container flex-container">
        <div class="tarjeta-container">
            <img class="tarjeta-img bg-dark" src="{% static 'app/img/informacion/mision.png' %}" alt="Misión">
            <div class="tarjeta info bg-dark">
                <h2 class="tarjeta-titulo">Nuestra Misión</h2>
                <p class="tarjeta-contenido">
                    Entretener a todos nuestros usuarios de Instagram con el contenido y actividades 
                    adecuadas relacionadas con el mundo gaming.
                </p>
            </div>
        </div>
        <div class="tarjeta-container">
            <img class="tarjeta-img bg-dark" src="{% static 'app/img/informacion/vision.png' %}" alt="Misión">
            <div class="tarjeta info bg-dark">
                <h2 class="tarjeta-titulo">Nuestra Visión</h2>
                <p class="tarjeta-contenido">
                    Ofrecer a nuestros usuarios una plataforma donde pueden identificarse y expresar con el contenido que compartimos
                </p>
            </div>
        </div>
        <div class="tarjeta-container">
            <img class="tarjeta-img bg-dark" src="{% static 'app/img/informacion/valores.png' %}" alt="Misión">
            <div class="tarjeta info bg-dark">
                <h2 class="tarjeta-titulo">Nuestros Valores</h2>
                <p class="tarjeta-contenido">
                    Diversión, entretenimiento, felicidad, emoción, compañía y conexión.
                </p>
            </div>
        </div>
    </div>
</body>
{% endblock %}