{% extends 'app/base.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'app/css/tarjetas.css' %}">
<link rel="stylesheet" href="{% static 'app/css/admin.css' %}">
{% endblock %}
{% block contenido %}
<section class="bg-shadow-admins">
</section>
<div class="card-container flex-container">
    <div class="tarjeta-container-row">
        <div class="tarjeta-container">
            <img class="tarjeta-img bg-dark" src="{% static 'app/img//admins/jano.jpeg' %}" alt="Jano">
            <div class="tarjeta admins bg-dark">
                <br>
                <h2 class="tarjeta-titulo">Administrador Jano</h2>
                <p class="tarjeta-contenido start">
                    ❥ Cargo que desempeña:
                    Creador de contenido
                    ❥ Nombre o Apodo:
                    Jano
                    ❥ Tiempo que lleva en la página:
                    1 año y medio
                    ❥ Sobre mi:
                    Me gusta rek'sai 🤝
                    ❥ Mi insta:
                    jssjjsjsjjjs
                </p>
            </div>
        </div>
        <div class="tarjeta-container">
            <img class="tarjeta-img bg-dark" src="{% static 'app/img//admins/julius.png' %}" alt="Julius">
            <div class="tarjeta admins bg-dark">
                <br>
                <h2 class="tarjeta-titulo">Administrador Julius</h2>
                <p class="tarjeta-contenido start">
                    ❥ Cargo que desempeña:
                    Moderador
                    ❥ Nombre o Apodo:
                    Julius
                    ❥ Tiempo que lleva en la página:
                    2 año aprox
                    ❥ Sobre mi:
                    Una persona media bipolar
                    ❥ Mi insta:
                    jssjjsjsjjjs
                </p>
            </div>
        </div>
        <div class="tarjeta-container">
            <img class="tarjeta-img bg-dark" src="{% static 'app/img//admins/happy.png' %}" alt="Happy">
            <div class="tarjeta admins bg-dark">
                <br>
                <h2 class="tarjeta-titulo">Administrador Happy</h2>
                <p class="tarjeta-contenido start">
                    ❥ Cargo que desempeña:
                    Secretario y Publicidad
                    ❥ Nombre o Apodo:
                    Happy
                    ❥ Tiempo que lleva en la página:
                    No lo recuerdo ( ,,)
                    ❥ Sobre mi:
                    Me encanta leer y los dulces
                    ❥ Mi insta:
                    jssjjsjsjjjs
                </p>
            </div>
        </div>
    </div>
    <div class="tarjeta-container-row">
        <div class="tarjeta-container">
            <img class="tarjeta-img bg-dark" src="{% static 'app/img//admins/jano.jpeg' %}" alt="Jano">
            <div class="tarjeta admins bg-dark">
                <br>
                <h2 class="tarjeta-titulo">Administrador Jano</h2>
                <p class="tarjeta-contenido start">
                    ❥ Cargo que desempeña:
                    Creador de contenido
                    ❥ Nombre o Apodo:
                    Jano
                    ❥ Tiempo que lleva en la página:
                    1 año y medio
                    ❥ Sobre mi:
                    Me gusta rek'sai 🤝
                    ❥ Mi insta:
                    jssjjsjsjjjs
                </p>
            </div>
        </div>
        <div class="tarjeta-container">
            <img class="tarjeta-img bg-dark" src="{% static 'app/img//admins/julius.png' %}" alt="Julius">
            <div class="tarjeta admins bg-dark">
                <br>
                <h2 class="tarjeta-titulo">Administrador Julius</h2>
                <p class="tarjeta-contenido start">
                    ❥ Cargo que desempeña:
                    Moderador
                    ❥ Nombre o Apodo:
                    Julius
                    ❥ Tiempo que lleva en la página:
                    2 año aprox
                    ❥ Sobre mi:
                    Una persona media bipolar
                    ❥ Mi insta:
                    jssjjsjsjjjs
                </p>
            </div>
        </div>
        <div class="tarjeta-container">
            <img class="tarjeta-img bg-dark" src="{% static 'app/img//admins/happy.png' %}" alt="Happy">
            <div class="tarjeta admins bg-dark">
                <br>
                <h2 class="tarjeta-titulo">Administrador Happy</h2>
                <p class="tarjeta-contenido start">
                    ❥ Cargo que desempeña:
                    Secretario y Publicidad
                    ❥ Nombre o Apodo:
                    Happy
                    ❥ Tiempo que lleva en la página:
                    No lo recuerdo ( ,,)
                    ❥ Sobre mi:
                    Me encanta leer y los dulces
                    ❥ Mi insta:
                    jssjjsjsjjjs
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}